/* Global CSS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

@font-face {
    font-family: Shrikhand;
    src: url(../fonts/Shrikhand-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
    font-display: swap;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
}

#header-logo {
    width: 40%;
    justify-content: center;
    margin: 20px 0;
}

.location-form {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color:#EAEAEA;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 6px 0px inset;
}

.location-dot {
    border: none;
}

.location-form input {
    border: none;
    background-color: #EAEAEA;
}

::placeholder {
    color: black;
    font-family: Roboto-Regular;
    font-size: 20px;
}

.main {
    color: #9356DC;
    color: #FF79DA;
    color: #99E2D0;
}

/* Homepage CSS */

.explore-container {
    background-color: #F6F6F6;
    padding: 30px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-container h1 {
    font-family: Roboto-Bold;
    font-size: 28px;
    font-weight:900;
    text-align: center;
}

.explore-container p {
    font-family: Roboto-Regular;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.explore-container button {
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FF79DA;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.how-it-works-container h1 {
    font-family: Roboto-Bold;
    font-size: 28px;
    margin: 50px 0 20px 20px;
}

.instruction-card {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin: 20px;
    background-color: #F6F6F6;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px 0;
}

.instruction-card:hover {
    background-color: #F8ECFC;
}

.instruction-number {
    margin-right: 20px;
    color: white;
    background-color: #9356DC;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
}

.instruction-icon {
    margin: 0 20px 0 50px;
}

.instruction-icon:hover { /* Can I get this icon to change colour when the entire instruction-card is hovered? */
    color:#9356DC;
}

.instruction-card p {
    font-family: Roboto-Regular;
    font-weight: 900;
    font-size: 20px;
}

.restaurant-container {
    background-color: #F6F6F6;
}

.restaurant-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-container h1 {
    font-family: Roboto-Bold;
    font-size: 28px;
    padding: 50px 0 20px 20px;
}

.restaurant-card {
    width: 90%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: 30px;
}

.restaurant-image-container {
    position: relative;
}

.restaurant-image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.restaurant-image-container button {
    position: absolute;
    top: 5%;
    left: 70%;
    background-color: #99E2D0;
    color: #129274;
    font-family: Roboto-Regular;
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
    border-radius: 10%;
    width: 25%;
}

.restaurant-info-container {
    display: flex;
    justify-content: space-between;
}

.restaurant-info-text h2 {
    font-family: Roboto-Regular;
    margin: 20px 0 0 20px;
    color: black;
}

.restaurant-info-text p {
    font-family: Roboto-Regular;
    font-size: 20px;
    margin: 0 0 20px 20px;
    color: black;
}

.restaurant-info-container a {
    text-decoration: none;
}

.fa-heart {
    align-content: center;
    margin-right: 20px;
}

.heart-container {
    position: relative;
    align-content: center;
}

.heart-full {
    color:#9356DC;
}

.fa-hand-pointer {
    position: absolute;
    top: 65%;
    left: 20%;
}

.footer-container {
    background-color: #353535;
    padding-bottom: 50px;
}

#footer-logo {
    width: 40%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 40px 0 0 40px;
}

.footer-container ul {
    list-style: none;
    font-family: Roboto-Regular;
    font-size: 20px;
    color: white;
    line-height: 1.5;
}

.fa-utensils, .fa-handshake {
    padding-right: 15px;
}

/* Menu Pages CSS */

.restaurant-name h1 {
    font-family: Shrikhand;
    padding-left: 20px;
}

.fa-arrow-left {
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 2%;
}
/* The Enchanted Plate CSS */
/* Bastille CSS */
/* Le Gourmand CSS */
/* The Full Palette CSS */