.loading-spinner {
    border: 20px solid $colour-secondary;
    border-right: 20px solid $colour-primary;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top: 20%;
    animation: disappear 3s forwards, spin 3s;
}

@keyframes disappear {
    0% {opacity:1;}
    95% {opacity:1;}
    100% {opacity: 0;}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.body {
    animation: mymove-home 4s 1;
}

@keyframes mymove-home {
    0% {opacity:0;}
    95% {opacity:0;}
    100% {opacity: 1;}
}