// Explore Container (Homepage)

.explore-container {
    background-color: $colour-background-light;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-container h1 {
    font-family: Roboto-Bold;
    font-size: 28px;
    font-weight:900;
    text-align: center;
    padding-bottom: 40px;
}

.explore-container p {
    font-family: Roboto-Regular;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 40px;
}

.explore-button {
    padding: 20px;
    border: none;
    font-family: Roboto-Regular;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.explore-button:hover {
    background-image: linear-gradient(#ffafe9, #be9aea);
    box-shadow: rgba(0, 0, 0, 0.36) 0px 3px 6px, rgba(0, 0, 0, 0.43) 0px 3px 6px;
}

// How it works Container (Homepage)

.how-it-works-container h1 {
    font-family: Roboto-Bold;
    font-size: 28px;
    margin: 50px 20px;
}

.instruction-card-container {
    padding-bottom: 50px;
}

.instruction-card {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin: 20px;
    background-color: $colour-background-light;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 30px 0px;
}

.instruction-card:hover {
    background-color: #F8ECFC;
}

.instruction-number {
    margin-right: 20px;
    color: white;
    background-color: $colour-primary;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
}

.instruction-icon {
    margin: 0 20px 0 50px;
    color: grey;
}

.instruction-icon:hover { /* Can I get this icon to change colour when the entire instruction-card is hovered? */
    color: $colour-primary;
}

.instruction-card p {
    font-family: Roboto-Bold;
    font-size: 18px;
}

// Restaurant Container (Homepage)

.restaurant-container {
    background-color: $colour-background-light;
}

.restaurant-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-container h1 {
    font-family: Roboto-Bold;
    font-size: 28px;
    color: black;
    padding: 40px 0 20px 20px;
}

.restaurant-card {
    width: 90%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 30px;
}

.restaurant-image-container {
    position: relative;
}

.restaurant-image-container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.new-button {
    position: absolute;
    top: 5%;
    left: 70%;
    background-color: $colour-tertiary;
    color: #129274;
    font-family: Roboto-Bold;
    text-align: center;
    font-size: 18px;
    padding: 5px 25px;
    border: 0;
    border-radius: 10px;
    width: 25%;
}

.restaurant-info-container {
    display: flex;
    justify-content: space-between;
}

.restaurant-info-text h2 {
    font-family: Roboto-Bold;
    font-size: 20px;
    padding: 20px 0 10px 20px;
    color: black;
}

.restaurant-info-text p {
    font-family: Roboto-Regular;
    font-size: 20px;
    margin: 0 0 20px 20px;
    color: black;
}

.restaurant-info-container a {
    text-decoration: none;
}

.fa-heart {
    align-content: center;
    margin-right: 20px;
}

// Restaurant Menu Container (Menu pages)

.restaurant-menu-container {
    background-color: $colour-background-light;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 20px;
    position: relative;
    top: -30px;
    margin-bottom: -30px;
} 

.restaurant-name {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    align-items: center;
}

.restaurant-name h1 {
    font-family: Shrikhand;
    font-size: 32px;
    padding: 30px;
}

.menu-item-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.restaurant-menu h2 {
    font-family: Roboto-Regular;
    font-size: 20px;
    margin-left: 30px;
    padding: 20px 0 10px 0;
}

.partial-underline {
    width: 60px;
    border: 3px solid $colour-tertiary;
    margin-left: 30px;
}

.menu-item-card-text h3 {
    font-family: Roboto-Bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.menu-item-card-text p {
    font-family: Roboto-Regular;
    font-size: 18px;
}

.restaurant-menu {
    display: flex;
    flex-direction: column;
}

.restaurant-menu h4 {
    font-family: Roboto-Bold;
    font-size: 20px;
}

.order-button-container {
    display: flex;
    justify-content: center;
}

.order-button {
    padding: 20px 60px;
    margin: 20px 0 30px 0;
    border: none;
    border-radius: 30px;
    font-family: Roboto-Bold;
    font-size: 20px;
    color: white;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
}

.order-button:hover {
    background-image: linear-gradient(#ffafe9, #be9aea);
    box-shadow: rgba(0, 0, 0, 0.36) 0px 3px 6px, rgba(0, 0, 0, 0.43) 0px 3px 6px;
}