.footer-container {
    background-color: $colour-footer;
    padding-bottom: 50px;
}

#footer-logo {
    width: 40%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 30px 0 0 30px;
}

.footer-container ul {
    list-style: none;
    font-family: Roboto-Regular;
    font-size: 20px;
    color: white;
    line-height: 1.5;
    padding: 30px;
}

.fa-utensils, .fa-handshake {
    padding-right: 15px;
}

.footer-container ul li a {
    text-decoration: none;
    color: white;
}

.footer-container ul li a:hover {
    font-family: Roboto-Bold;
}