.header {
    display: flex;
    justify-content: center;
    position: relative;
}

#header-logo {
    width: 50%;
    justify-content: center;
    margin: 20px 0;
}

.fa-arrow-left {
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 2%;
}

.location-form {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: $colour-background-dark;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 6px 0px inset;
}

.location-dot {
    border: none;
}

.location-form input {
    border: none;
    background-color: $colour-background-dark;
}

::placeholder {
    color: black;
    font-family: Roboto-Regular;
    font-size: 20px;
}